.navbar{
    box-shadow: 0 0px 3px 0 rgba(0,0,0,0.1);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
}
.navbarul{
    display: flex;
    margin: auto;
}
.navbarul li{
    margin:auto 85px;
    list-style: none;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.navMobile{
    display: none;
}
.navbarul button{
    border: 1px solid #2596be;
    width: 90px;
    height: 30px;
    color: #2596be;
    background-color: white;
    outline: none;
}
.navbarul button:hover{
    background-color: #2596be;
    color: white;
}

.navbardiv{
    display: flex;
    align-items:center ;
}

@media screen and (max-width: 600px) {
    .navbar{
        display: none;
    }
    .navbarul{
        padding: 10px 15px 0px 15px;
        box-sizing: border-box;
    }
    .navMobile{
        display: block;
    }
    .navbarul li{
        margin: 0;
    }
}